<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <form>
    <input type="text"  [(ngModel)]="valInput" name=" "/>
    <input type="submit" (click)="addToList()">
    <ul>
      <li class="li-text" *ngFor="let tex of text" id="{{tex.count}}">{{tex.next}} Date: {{tex.dt | date}}
        <app-checkbox ></app-checkbox>
        <button class="btn" type="button" id="{{tex.count}}" (click)="remove(tex)" >DEL</button>
      </li>
    </ul>
  </form>
</div>

<router-outlet></router-outlet>
